body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.chart {
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    position: relative;
    width: 100%;
}

#charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#tt1,
#tt2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.axis text {
    font-size: 12px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    background: rgba(50, 50, 50, 0.8);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
}

.chart-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.legend {
    font-size: 12px;
}

.legend rect {
    stroke-width: 1;
    stroke: black;
}

.polar-background {
    fill: #f0f0f0;
}

.polar-line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.legend-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.legend-box div {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.legend-box div span {
    margin-left: 5px;
}

.more-info {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding-left: 0.25em;
    padding-right: 0.25em;
    vertical-align: top;
    overflow: visible;
    white-space: nowrap;
}

.more-info:before {
    display: block;
    width: 2em;
    height: 2em;
    position: relative;
    top: 1px;
    color: #000;
    background: #fff;
    border-radius: 50%;
    content: "?";
    border: 1px solid #9A9A9A;
    line-height: 2em;
    /*Increase font-size to increase button size*/
    font-size: 0.6em;
    vertical-align: middle;
    text-align: center;
    font-family: Times New Roman;
}


/* Tooltip text */

.more-info .tooltiptext {
    position: absolute;
    top: -0.5em;
    left: 3em;
    z-index: 999;
    padding: 0.5em;
    width: 300px;
    white-space: normal;
    display: none;
    background: white;
    outline: 1px solid #9A9A9A;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(85, 98, 112, 0.15);
    -moz-box-shadow: 0px 1px 4px 0px rgba(85, 98, 112, 0.15);
    box-shadow: 0px 1px 4px 0px rgba(85, 98, 112, 0.15);
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1.6em;
}


/* Show the tooltip text when you mouse over the tooltip container */

.more-info:hover .tooltiptext {
    display: block;
}

.container {
    padding: 20px;
    position: absolute;
    top: 10px;
    /* Adjust as needed */
    right: 10px;
    /* Adjust as needed */
    display: none;
    /* Initially hidden */
}